.wrap{
    height: 400px;
    width: 100%;
    background-color: #dedede;
}
.center{
    display: inline-block;
}
.pull-left{
    width: 100px;
    height: 100%;
    background-color: #2aabd2;
    float: left;
}
.pull-right{
    width: 100px;
    height: 100%;
    background-color: #2aabd2;
    float:right ;
}
